.profileWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    padding: 13px;
}


.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1/5;


}

.displayedUsername {
    align-self: centre;
    grid-column: 7/8;
}
.profileDropdown {
    display: none;
    position: absolute;
    background-color: papayawhip;
    min-width: 200px;
    padding: 12px 16 px;
    z-index: 10;
    margin-top: 50px;
}

.profileWrapper:hover .profileDropdown {
    display: block;
}

.profileDropdown a {
    display: block;
    cursor: pointer;
    padding: 8px;
}