.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-image: linear-gradient(to right, black,#3c5aa6, #ffcb05);
}

.logotype {
    width: 500px;
}

.ashpic {
    width: 200px;
}



.logotype
{
    cursor: pointer;
}


   


.field {
    width: 0;

}

.gamelogo {
  cursor: pointer;
  grid-column: 8/10;
    align-self: center;
}

